{{ if .BasicInfo.Contacts }}
<div class="sideSection contact">
    <ul>
        {{ range .BasicInfo.Contacts }}
        <li class="contact__item">
            <i class="{{ .Icon }}"></i><span>{{ .Info | safeHTML }}</span>
        </li>
        {{ end }}
      {{ if .BasicInfo.LinkedIn }}
        <li class="contact__item linkedin">
            <i class="fab fa-linkedin"></i> <!-- Icône LinkedIn -->
            <a href="{{ .BasicInfo.LinkedIn }}" target="_blank" rel="noopener noreferrer">
                Mon profil LinkedIn
            </a>
        </li>
        {{ end }}  
    </ul>
</div>
{{ end }}
